.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 16px;
  max-width: 600px;
  width: 90%;
}

.modal-images {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.modal-images img {
  width: 100%;
  border-radius: 10px;
}
