.map-section {
  background-color: #020617;
  color: #e5e7eb;
  padding: 60px 40px;
  text-align: center;
}

.map-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.map-container {
  max-width: 1000px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #1e293b;
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border: none;
}
